.menu-view {
	padding: 20px;
}

.menu-view h1 {
	font-size: 40px;
	color: white;
	font-weight: 700;
}

.menu-view .price {
	font-size: 28px;
	color: #FCF9B8;
	margin-bottom: 10px;
	font-weight: 700;
}

.menu-view p {
	padding: 0;
	color: white;
	line-height: 30px;
	font-size: 18px;
	margin-bottom: 15px;
}

.menu-view input {
	border-radius: 8px;
	border: none;
	width: 50px;
}

.menu-view input[type='number'] {
    -moz-appearance:textfield;
}
.menu-view input::-webkit-outer-spin-button,
.menu-view input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.menu-view button i {
	font-size: 18px;
}

.menu-view .checkoutinfo-box {
	padding: 20px;
	margin: 10px;
	border-radius: 19px;
	height: 100%;
	background-color: white;
}

.menu-view .rating span {
	color: white;
	font-size: 24px;
}

.menu-view .rating .checked {
	color: #FF6477;
}

.comments h3 {
	font-size: 28px;
	color: white;
	font-weight: 700;
}

.comments .rating span {
	color: white;
	font-size: 16px;
}

.comments .rating .checked {
	color: #FF6477;
}